@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap");
.home-template {
  display: grid;
  grid-template-rows: 660px auto;
}
.main-container {
  border-bottom: 1px #fff solid;
  background: linear-gradient(
    309.98deg,
    rgba(118, 118, 118, 0.5) 0.5%,
    rgba(133, 133, 133, 0) 100%
  );

  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* fixes clipped white effect space on top */
  padding-top: 56px;
  margin-top: -56px;
}
.name {
  color: white;
  width: 700px;
  margin-left: auto;
}
.name p {
  font-family: "Roboto", sans-serif;
  font-size: 132px;
  line-height: 105px;
  letter-spacing: -0.025em;
  margin: 0;
  opacity: 0;
  transition: opacity 500ms;
}
.name #first {
  font-weight: 700;
}

.name #first.loaded {
  opacity: 1;
  animation: slide-in-right 0.5s ease-in-out both;
}

.name #last {
  font-weight: 100;
}
.name #last.loaded {
  opacity: 1;
  animation: slide-in-right 0.5s ease-in-out both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.bottom-portion {
  height: 3000px;
}

@media only screen and (max-width: 650px) {
  .name {
    width: 90%;
  }
  .name p {
    font-size: 19vw;
    line-height: 16vw;
  }
}
